TOKEN=YOURSUPERSECRETTOKEN

SPACE=Chaostreff Flensburg
LOGO=https://chaostreff-flensburg.de/logo.png
URL=https://chaostreff-flensburg.de
ADDRESS=Apenrader Str. 49, 24939 Flensburg
LAT=54.8045778
LON=9.4224836
EMAIL=mail@chaostreff-flensbur.de
MASTODON=https://chaos.social/@chaos_fl
BLOG=https://chaostreff-flensburg.de/feed.rss
EXT_CCC=erfa